@import "src/assets/scss/colors";

header {
    display: flex;
    padding: 1.4em 2em;
    align-items: center;
    background-color: #f5f8fa;
    justify-content: space-between;
    border-bottom: 2px solid #f1e7e7;

    h2 {
        margin: 0;
        gap: .5em;
        display: flex;
        color: $verde-500;
        align-items: center;

        i {
            font-size: 1.5em;
        }
    }

    .toolbar {
        display: flex;
        padding: .4em .7em;
        border-radius: 4px;
        background-color: #fff;

        i {
            cursor: pointer;
            color: $azul-300;
            font-size: 1.8em;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}