// Azul
$azul-500:#001a5a;
$azul-400: #0133af;
$azul-300: #3f4f97;
$azul-200: #0246f3;
$azul-100: #f0f7ff;
$azul-50: #eff6fe;


// Verde
$verde-500: #a79142;
$verde-200: #f2d750;
$verde-600: #2db633;

// Turquesa
$turquesa-500: #4698cb;

// Rojo
$rojo-500: #cd0c21;

// Blanco
$blanco-500: #fff;
$blanco-400: #F0F7FF;

// Negro
$negro-500: #1b1c1e;
$negro-400: #2b2b2b;

// Gris
$gris-500: #707070;
$gris-400: #acadac;
$gris-300: #a8a8a8;
$gris-100: #f5f8fa;
