@import "src/assets/scss/colors";

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'keep_calmbook';
    src: url('fonts/keep_calm_book-webfont.woff2') format('woff2'), url('fonts/keep_calm_book-webfont.woff') format('woff');
}

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'keep_calmheavy';
    src: url('fonts/keep_calm_heavy-webfont.woff2') format('woff2'), url('fonts/keep_calm_heavy-webfont.woff') format('woff');
}

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'keep_calmlight';
    src: url('fonts/keep_calm_light-webfont.woff2') format('woff2'), url('fonts/keep_calm_light-webfont.woff') format('woff');
}

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'keep_calm_medregular';
    src: url('fonts/keep_calm_medium-webfont.woff2') format('woff2'), url('fonts/keep_calm_medium-webfont.woff') format('woff');
}

html {
    height: 100%;

    body {
        margin: 0;
        height: 100%;
        font-size: 16px;
        color: $negro-400;
        font-family: 'keep_calmbook', sans-serif;

        h1, h2, h3, h4, h5, h6 {
            padding: 0;
            margin: 0;
        }

        h1 {
            font-size: 25px;
            color: $azul-500;
            line-height: 23px;
            margin-bottom: 25px;
            font-family: 'keep_calmbook', sans-serif;
        }
        h2 {
            font-size: 20px;
            color: $azul-500;
            line-height: 23px;
            margin-bottom: 25px;
            font-family: 'keep_calm_medregular', sans-serif;
        }
        button {
            color: $blanco-500;
            font-size: 14px;
            line-height: 18px;
            font-family: 'keep_calmbook';
        }
        .mat-table {
            thead th {
                font-size: 13px;
                font-family: 'keep_calmbook', sans-serif;
            }
            tbody tr {
                color: $negro-400;
                font-family: 'keep_calmlight', sans-serif;
                font-weight: bold;

                td {
                    font-size: 13px;
                }
            } 
        }
    }
}