@import "src/assets/scss/colors";
@import "src/assets/scss/typography";

.submenu {
    text-align: left;

    header {
        padding: 1.7em;
        text-align: left;

        h3 {
            margin:0;
            font-size: 15px;
            color: $azul-500;
            text-transform: uppercase;
            font-family: 'keep_calmbook', sans-serif;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        h4 {
            margin: 1.7em 0;
            font-size: 12px;
            color: $azul-500;
            padding-left: 2.1em;
            font-family: 'keep_calm_medregular', sans-serif;
        }
        li {
            &.active {
                cursor: pointer;
                background-color: $azul-100;
                font-family: 'keep_calmbook', sans-serif;

                a {
                    padding-left: 2.2em;

                    span {
                        padding-left: 1em;
                        border-left: 2px solid $azul-300;
                    }
                }
            }

            a {
                display: flex;
                font-size: 12px;
                transition: 0.4s;
                padding: 1em 3em;
                color: $azul-500;
                text-decoration: none;
                flex-direction: column;
                transition-property: background-color;
                font-family: 'keep_calmlight', sans-serif;
        
                // &.active,
                // &:hover {
                //     cursor: pointer;
                //     background-color: $azul-100;
                //     font-family: 'keep_calmbook', sans-serif;
                // }
        
            }
        }
    }
}
