@import "src/assets/scss/colors";

.container-login {
    height: 100%;
    position: relative;
    overflow: hidden;

    * { color: $blanco-400; }

    .bg-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.4;
    }

    .login {
        padding: 2em;
        top: 50%;
        left: 50%;
        width: 420px;
        margin: auto;
        position: absolute;
        background-color: $azul-500;
        transform: translate(-50%, -50%);

        &::ng-deep .mat-checkbox {
            .mat-checkbox-ripple .mat-ripple-element {
                background-color: $blanco-500;
            }
            .mat-checkbox-frame {
                border-color: $blanco-500;
            }
        }

        .auth-error {
            text-align: center;
            font-size: 13px;
            color: $blanco-400;
        }

        header {
            text-align: center;
            margin-bottom: 1.5em;

            img { width: 150px; }
        }

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5em;
            margin-top: 3em;

            a {
                font-size: 12px;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 400px) {
    .login {
        width: 90%;
    }
}