<app-spinner *ngIf="showSpinner"></app-spinner>
<header mat-dialog-title *ngIf="!showSpinner">
	<h2>ASIGNAR EVENTO A: {{nombreEvento}}</h2>
	<button mat-button  (click)="onCloseDialog()">
					<i class="material-icons-outlined">clear</i>
	</button>
</header>
<mat-dialog-content class="mat-typography custom-scrollbar">
<form [formGroup]="form" autocomplete="off" *ngIf="!showSpinner">
    <article class="row">
        <mat-form-field class="col">
            <mat-label>Nombre *</mat-label>
            <input matInput formControlName="variable"/>
            <mat-error 
            *ngIf="form.get('variable')?.invalid && (form.get('variable')?.dirty || form.get('variable')?.touched)">               
            
            <span *ngIf="form.get('variable')?.errors?.required"
					>Nombre es requerido<br></span
				>       
                <span *ngIf="form.get('variable').errors?.pattern"
				>No permite caracteres especiales<br></span
			>     
            <span *ngIf="form.get('variable')?.errors?.maxlength"
					>El tamaño máximo es 200<br></span
				>                        
            </mat-error>
        </mat-form-field>  
        <mat-form-field class="col">
            <mat-label>Fecha evento *</mat-label>
            <input matInput [matDatepicker]="fechaEvento" 
                formControlName="fechaEvento"
                placeholder="AAAA/MM/DD"                
            />
            <mat-datepicker-toggle matSuffix [for]="fechaEvento"></mat-datepicker-toggle>
            <mat-datepicker #fechaEvento></mat-datepicker>
            <mat-error *ngIf="fechaEvento?.invalid && (fechaEvento?.dirty || fechaEvento?.touched)"
                class="animate__animated animate__fadeIn animate_faster">
                <span *ngIf="fechaEvento?.errors?.required">Fecha de evento es requerido</span>
            </mat-error>           			
        </mat-form-field>    
    </article>
    <article class="row">
        <div class="col-md-6 col-sm-12">
            <mat-form-field class="col">
                <mat-label>Concepto aplicable *</mat-label>
                <mat-select formControlName="conceptos" multiple>
                    <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">TODAS</mat-option>
                    <mat-option *ngFor="let conceptos of concepts" [value]="conceptos.id" (click)="tosslePerOne(allSelected.viewValue)">
                        {{conceptos.label}}
                    </mat-option>                        
                </mat-select>
                <mat-error *ngIf="form.get('conceptos')?.invalid && (form.get('conceptos')?.dirty || form.get('conceptos')?.touched)"
                    class="animate__animated animate__fadeIn animate_faster">
                    <span *ngIf="form.get('conceptos')?.errors?.required">Cobro aplicar es requerido</span>
                </mat-error>
            </mat-form-field>
        </div>
    </article>
    <article class="row">        
        <mat-checkbox color ="primary" (change)="changeEvento($event)" [checked]="form.get('repetir').value">Repite todos los años</mat-checkbox>
    </article>    
    <footer class="text-center mt-4">
        <button class="m-3" mat-raised-button color="warn" (click)="onCloseDialog()">Cancelar</button>
        <button mat-raised-button [disabled]="form.invalid" color="primary" (click)="showConfirmarCrear()">Guardar</button>
    </footer>
</form>
</mat-dialog-content>