<header class="animate__animated animate__fadeInDown animate_faster">
    <nav>
        <ul>
            <li>
                <img [src]="logo">
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contáctenos</a></li>
            <li><a href="#">Sobre nosotros</a></li>
        </ul>

        <ul>
            <li><a href="#">¿Aún no tiene cuenta?</a></li>
            <li><a href="#" class="create-account">Crear cuenta</a></li>
        </ul>
    </nav>
</header>