<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <section class="filtro asw-box animate__animated animate__fadeIn animate_faster">
        <div align="start">
            <button mat-button class="volver" color="primary" >
                <mat-icon>arrow_back_ios</mat-icon>
                Volver
            </button>
        </div>
        <h2>INSCRIPCION</h2>
        <div class="row">
            <span class="subtitle-filter"><b>Datos de la declaración</b></span>
            <div class="col tabla">
                <table>
                    <tr>
                        <td>No. de declaración</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tipo de trámite</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Período</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Fecha de circulación</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="col tabla">
                <table>
                    <tr>
                        <td>Usuario</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Fecha de inscripción</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tipo de cambio realizado</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <span class="subtitle-filter"><b>Información del comprobante</b></span>
            <div class="col tabla">
                <table>
                    <tr>
                        <td>Nombre</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>N° Comprobante</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Fecha de generación</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Último envío</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Crédito</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="col tabla">
                <table>
                    <tr>
                        <td>RTN</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Operación</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Vigencia</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Débito</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Saldo</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <span class="subtitle-filter"><b>Datos del vehículo</b></span>
            <div class="col tabla">
                <table>
                    <tr>
                        <td>Placa</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Clase</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="col tabla">
                <table>
                    <tr>
                        <td>Placa anterior</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <span class="subtitle-filter"><b>CARACTERÍSTICAS</b></span>
            <div class="col tabla">
                <table>
                    <tr>
                        <td>Marca</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tipo</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Chasis</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Año</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="col tabla">
                <table>
                    <tr>
                        <td>Modelo</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Motor</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Vin</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cilindraje</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <span class="subtitle-filter"><b>Datos del propietario</b></span>

            <div class="col tabla">
                <table>
                    <tr>
                        <td>Propietario actual</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dirección propietario</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Departamento-Municipio</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>RTN</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="col tabla">
                <table>
                    <tr>
                        <td>Propietario anterior</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dirección propietario</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Departamento-Municipio</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>RTN</td>
                        <td></td>
                    </tr>
                </table>
            </div>           
        </div>

        <div class="row">
            <span class="subtitle-filter"><b>Datos de importación</b></span>
            <div class="col tabla">
                <table>
                    <tr>
                        <td>Aduana</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>No. de poliza</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Valor CIF</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>IVA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Otros cargos</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="col tabla">
                <table>
                    <tr>
                        <td>Régimen</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Fecha póliza</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Selectivo</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Derechos arancelarios</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        
 </section>
 </div>
</div>
