@import "src/assets/scss/colors";
@import "src/assets/scss/custom_material";

b{
    color: darkslategrey;
}

::ng-deep .mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    background-color: #f5f8fa
}

::ng-deep .mat-card-header {
    flex-direction: row;
}

::ng-deep .mat-tree-node {
    display: flex;
    align-items: center;
    flex: 1;
    word-wrap: break-word;
    background-color: #ffff;
    border-radius: 5px;
    margin-bottom: 8px;
}

::ng-deep .mat-tree {
    background: transparent;
}

.mat-icon-button-position {    
    margin-left: auto;
}

.title{
    font-size: 1em;
    color: #001a5a;    
    height: 31px;
    margin: 0 422px 10px 0;
    font-size: 28px;
    font-weight: 500;
}
.subtitle{    
    font-size: 16px;
    font-weight: 500;
    color: #001a5a;
}

.detail{
    color: slategrey;
    font-size: 12px;
}

.buttonRight{
    text-align-last: right;
}

.buttonAdd{
    color: #0246f3 !important;    
    background-color: #ffff !important;
    border-color: transparent !important;
    margin-left: auto;
    height: 2rem;
}

.checklist-leaf-node{
    margin-left: 8px;
}

.container-places {    
    max-width: 100%;
    overflow: auto;
    max-height: 30rem;
}

::ng-deep .cal-month-view .cal-cell-top {
    min-height: 5px;
    min-width: 5px;    
    overflow: hidden; 
    text-align: center;
}

::ng-deep .cal-month-view .cal-day-number {
    font-size: 1.2em;
    font-weight: 400;    
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    float: none;
    opacity: inherit;
    border-radius: 5px;
}

::ng-deep .cal-month-view .cal-days {
    border: none;    
    border-bottom: 0;
}

::ng-deep .cal-month-view .cal-day-cell:not(:last-child) {
    border-right: none;
}

::ng-deep .cal-month-view .cal-day-cell {
    min-height: 70px;    
}

::ng-deep .cal-month-view .cal-days .cal-cell-row {
    border-bottom-color: transparent;
}

::ng-deep .cal-month-view .cal-day-cell.cal-today {
    background-color: transparent;
}

::ng-deep .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.2em;
}

::ng-deep .mat-checkbox-frame {
    background-color: transparent;
    transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
    border-width: 2px;
    border-style: solid;
    border-color: #0246f3;
    border-radius: 3px;
}

.existEvent{
    background-color: $azul-200 !important;
    color: #ffff !important;
}

.buttonItem{
    border: none;
    color: $azul-200;
    outline:none;
}

.buttonItemEliminar{
    border: none;
    color: #cb0017;
    outline:none;
}

.diaCalendario{               
    color: #0246f3;
    text-transform: capitalize;        
    font-size: 14px;    
}

.alingRight{
    text-align: right;
}


.filterSearch{
    height: auto;
    margin-top: 20px;
}

.contentCalendar{
    width: fit-content ;
}

.mat-tree-container {
    display: grid;
}

.icono{
    height: 15px;
    cursor:pointer;
}

.contenedor-calendario {
    overflow: auto;
}

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
    scrollbar-color: none;
    scrollbar-width: thin;
  }
  
  /* scrollbar width */
  .custom-scrollbar-css::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  /* scrollbar track */
  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: none;
    border-radius: 15px;
  }
  
  /* scrollbar handle */
  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: $azul-500;
  }
  