<section class="tabla-con-filtro">
    <div [class]="class1"></div>
    <div [class]="class2">   
        <app-spinner *ngIf="showSpinner && primerCarga"></app-spinner> 
        <form [formGroup]="form">
          <section class="filtro row asw-box animate__animated animate__fadeIn animate_faster" [hidden]="showSpinner && primerCarga">
    
            <h2 class="title">Consulta</h2>

            <mat-form-field appearance="fill">
                <mat-label>Placa *</mat-label>
                <input matInput type="text" maxlength=7 formControlName="placa" >
                <mat-error *ngIf="formControls.placa?.invalid && (formControls.placa?.dirty || formControls.placa?.touched)">
                    <span *ngIf="formControls.placa?.errors?.required">Placa es requerido</span>
                    <span *ngIf="formControls.placa?.errors?.minlength?.requiredLength">Mínimo {{form.controls.placa.errors.minlength.requiredLength}} caracteres</span>
                </mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Trámite</mat-label>
                <mat-select formControlName="tramite">
                    <mat-option value="">Seleccionar...</mat-option>
                    <mat-option *ngFor="let tramite of lstTramites | async; let i=index" [value]="tramite.codigo">
                        {{ tramite.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <div align="end">
              <button type="button" mat-raised-button color="primary"
               (click)="consultar()" [disabled]="form.invalid ">Consultar</button>
            </div>
          </section>
        </form>
    </div>

    <div [class]="class3">
        <article class="row asw-box animate__animated animate__fadeIn animate_faster" [hidden]="primerCarga">
            <h2>Trámites en vehículos</h2>

            <div *ngIf="!showSpinner" class="table-search">
                <div class="input-search">
                    <mat-icon>search</mat-icon>
                    <input matInput 
                        #inputSearch
                        placeholder="Buscar ..." 
                        autocomplete="off" 
                        (keyup)="applyFilter($event)">
                </div>
            </div>

            <app-progressbar *ngIf="showProgressBar"></app-progressbar>
            <app-spinner *ngIf="showSpinner"></app-spinner>

            <table mat-table [dataSource]="dataSource"  [hidden]="showSpinner" matSort class="animate__animated animate__fadeIn animate__faster">
                <ng-container matColumnDef="numeroDeclaracion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>No. de declaración</th>
                    <td mat-cell *matCellDef="let item">{{ item.numeroDeclaracion }}</td>
                </ng-container>
        
                <ng-container matColumnDef="placa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
                    <td mat-cell *matCellDef="let item">{{ item.placa }}</td>
                </ng-container>
        
                <ng-container matColumnDef="tramite">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Trámite</th>
                    <td mat-cell *matCellDef="let item">{{ item.tramite }}</td>
                </ng-container>
        
                <ng-container matColumnDef="periodo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Periodo</th>
                    <td mat-cell *matCellDef="let item">{{ item.periodo  | date: 'yyyy'  }}</td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let item">{{ item.fecha | date: 'yyyy-MM-dd' }}</td>
                </ng-container>

                
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td mat-cell *matCellDef="let item" class="estado">{{ item.estado }}</td>
                </ng-container>
        
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                    <td mat-cell *matCellDef="let item" class="tools text-center">
                        <i (click)="verDetalle()" matTooltip="Ver detalle" class="material-icons-outlined azul-300">remove_red_eye</i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

                <ng-container>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">{{mensaje}}</td>
                    </tr>
                </ng-container>

            

            </table>

            <mat-paginator
            showFirstLastButtons
            [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        
        </article>
    </div>
    
</section>