<app-spinner *ngIf="showSpinner"></app-spinner>

<article class="vista-detalle" *ngIf="!showSpinner">
    <article>
    <header >
     
        <label>Número y/o Nombre:</label> 
        <span>{{ data.nombre }}</span>
       
    </header>
    </article>
        <article>
             <header >
        <label>Documento:</label> 
        <span>{{ data.documentoDesc }}</span>
    </header>
        </article>
 

    <table>
        <tr>
            <td>Descripción</td>
            <td>{{ data.descripcion }}</td>
        </tr>
        <tr>
            <td>Fecha publicación</td>
            <td>{{data?.publicacion.split('T')[0] | date:'yyyy/MM/dd'}}</td>
        </tr>
        <tr>
            <td>Fecha inicio de vigencia</td>
            <td>{{data?.inicioVigencia.split('T')[0] | date:'yyyy/MM/dd'}}</td>
         </tr>
        <tr>
            <td>Fecha fin de vigencia</td>
            <td>{{data?.finVigencia?.split('T')[0] | date:'yyyy/MM/dd'}}</td>
        </tr>
        <tr>
            <td>Estado</td>
            <td>{{ data?.estado == "A" ? "Activo" : "Inactivo" }}</td>
        </tr>
        
    </table>

    <div class="footer">
        <p class="created">
            <label>Creado por</label>
            <span>{{ data?.usuarioCreacion }} </span>
            <label>el</label>
            <span>{{ data?.fechaCreacion?.slice(0,10) | date: "yyyy/MM/dd" }}</span>
        </p>
        <p class="last-change" *ngIf="data?.fechaActualiza" >Último cambio </p>
        <p *ngIf="data?.fechaActualiza" class="created">
            <label>Modificado por</label>
            <span>{{ data?.usuarioActualiza }} </span>
            <label>el</label>
            <span>{{ data?.fechaActualiza?.slice(0,10) | date: "yyyy/MM/dd" }}</span>
        </p>
       <!-- <p class="change-detail">{{ data?.observaciones }}</p>-->
    </div>

    <footer class="d-flex justify-content-end mt-4">
        <button mat-raised-button color="primary"  (click)="closeModalEvent()">Editar</button>
    </footer>
</article>
