@import "src/assets/scss/colors";
@import "src/assets/scss/typography";

.multa-detalle {
    .title {
        label {
            font-size: 14px;
            color: $azul-400;
            font-weight: bold;
            margin-right: 1em;
        }
        span {
            color: $azul-300;
        }
    }

    table {
        width: 100%;
        margin: 2em auto;

        tr {

            &:nth-child(odd) { background: $azul-100 }
            &:nth-child(even) { background: $blanco-500 }
            td {
                padding: .5em;

                &:first-child {
                    color: $azul-400;
                }
                &:last-child {
                    font-size: 14px;
                    color: $azul-300;
                    text-align: right;
                    font-family: 'keep_calmlight', sans-serif;
                }
            }
        }
    }

    .footer {
        padding: .7em;
        background-color: $azul-100;

        .last-change { color: $azul-300; }
        .change-detail { color: $azul-500; }
        .created {
            label { color: $gris-500; }
            span {
                margin: 0 .5em;
                color: $azul-300;
            }
        }
    }
}

.subtitle{
	font-size: 16px;
	font-weight: 500;
	color: #001a5a;
}

