@import "src/assets/scss/colors";

.filtro {
    padding: 1em;
    min-width: 280px;
    max-width: 400px;

    header {
        padding: 0 2px;
        display: flex;
        margin-bottom: 2em;
        align-items: center;
        justify-content: space-between;

        h2 {  
            margin: 0;;
            font-size: 1em; 
        }

        i {
            font-size: 2.2em;
            cursor: pointer;
            color: $gris-400;

            &:hover {
                color: $azul-300;
            }
        }
    }

    .mat-form-field {
        margin: 0;
        padding: 0;

        ::ng-deep .mat-form-field-underline { display: none; }
    }
    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 7px;
        padding: 4px 1.5em;
        background-color: $gris-100; 
    }
    ::ng-deep .mat-form-field-infix { padding-bottom: 0; }
}

#divFiltro {
    padding-left: 24px;
    background-color: $gris-100;
    margin-bottom: 20px;
    mat-label{
        font-size: 12px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        color: $gris-500;
    }
    input { font-size: 14px; }
}

#contenedor-filtro {
    height: 450px !important;
    overflow: auto !important;
}