

<section class="modal-content custom-scrollbar">
	<mat-dialog-content>
		<form [formGroup]="form" autocomplete="off" *ngIf="!showSpinner">
			<div class="row">
				<h2>¿Está seguro que quiere eliminar esta multa?</h2>
				<div class="col-md-12">
					<mat-form-field appearance="fill">
						<mat-label>Observaciones</mat-label>
						<textarea matInput type="number" formControlName="observaciones" ></textarea>
						<mat-error
							*ngIf="
								formularioControls.observaciones?.invalid &&
								(formularioControls.observaciones?.dirty ||
                                formularioControls.observaciones?.touched)
							"
						>
						<span *ngIf="formularioControls.observaciones?.errors?.maxlength?.requiredLength">Máximo {{form.controls.observaciones.errors.maxlength.requiredLength}} caracteres<br></span>

						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</form>
	</mat-dialog-content>
	<app-spinner *ngIf="showSpinner"></app-spinner>
	<mat-dialog-actions align="center" *ngIf="!showSpinner">
		<button mat-raised-button color="warn" mat-dialog-close>
			Cancelar
		</button>
		<button [disabled]="form.invalid" mat-raised-button color="primary" (click)="deleteMulta()">
			Aceptar
		</button>
	</mat-dialog-actions>
</section>
