<div class="row">
	<div class="col-md-3">
		<app-sub-menu-consultas [iduVehiculo] = "iduVehiculo" [periodo] = "periodo" [selected] = "'matricula-ip'" ></app-sub-menu-consultas>
	</div>
	<div class="col-md-9">
		<div
			class="asw-box animate__animated animate__fadeIn animate_faster bg-color"
		>
			<div align="start">
				<button mat-button color="primary" (click) = "goBack()">
					<mat-icon>arrow_back_ios</mat-icon>
					Volver
				</button>
			</div>
			<div class="row mb-3">
				<h2 class="title mb-1">Información matrícula IP</h2>
			</div>

			<div class="row">
				<span class="subtitle">Caracteristicas propietario</span>
				<div class="col">
					<article class="multa-detalle">
						<table>
							<tr>
								<td>Nombre</td>
								<td>GUstavo Mestra Garay</td>
							</tr>
							<tr>
								<td>RTN</td>
								<td>FDD454</td>
							</tr>
						</table>
					</article>
				</div>
				<div class="col">
					<article class="multa-detalle">
						<table>
							<tr>
								<td>RUC</td>
								<td>45646565</td>
							</tr>
						</table>
					</article>
				</div>
			</div>

			<div class="row">
				<span class="subtitle">Datos del vehículo</span>
				<div class="col">
					<article class="multa-detalle">
						<table>
							<tr>
								<td>Placa</td>
								<td>DDS4524</td>
							</tr>

						</table>
					</article>
				</div>
				<div class="col">

				</div>
			</div>

			<div class="row">
				<span class="subtitle">Caracteristicas</span>
				<div class="col">
					<article class="multa-detalle">
						<table>
							<tr>
								<td>Año</td>
								<td>2005</td>
							</tr>
							<tr>
								<td>Motor</td>
								<td>FDD454HGGDHS</td>
							</tr>
							<tr>
								<td>Inscripción</td>
								<td>1985/03/02</td>
							</tr>
							<tr>
								<td>Modelo</td>
								<td>DF456D</td>
							</tr>
							<tr>
								<td>VIN</td>
								<td>FDD454HGGDHS</td>
							</tr>
							<tr>
								<td>Tipo de vehículo</td>
								<td>Moticicleta</td>
							</tr>
							<tr>
								<td>Color</td>
								<td>Azul</td>
							</tr>
						</table>
					</article>
				</div>
				<div class="col">
					<article class="multa-detalle">
						<table>
							<tr>
								<td>Circulación</td>
								<td>2005/02/02</td>
							</tr>
							<tr>
								<td>Marca</td>
								<td>Suzuki</td>
							</tr>
							<tr>
								<td>Chasis</td>
								<td>454546545455SD</td>
							</tr>
							<tr>
								<td>Departamento</td>
								<td>Cortes</td>
							</tr>
							<tr>
								<td>Municipio</td>
								<td>Choloma</td>
							</tr>
							<tr>
								<td>Cilindraje</td>
								<td>1200</td>
							</tr>
							<tr>
								<td>Tipo de placa</td>
								<td>Particular</td>
							</tr>
						</table>
					</article>
				</div>
			</div>

		</div>
	</div>
</div>


